:host {
  display: flex;
  height: 100%;
  width: 100%;

  .search-place-container {
    z-index: 99999999;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .map-container {
    z-index: 1;

    width: 100%;
    height: 100%;
  }

}
