<div class="search-place-container">
  <app-autocomplete (setPlace)="getPlace($event)"></app-autocomplete>
</div>
<div class="map-container">
  <app-map [center]="mapCenter" [marker]="marker" [place]="place"></app-map>
</div>


