<google-map
  #googleMap
  class="google-map-container"
  [center]="center"
  [height]="'100%'"
  [width]="'100%'"
  [options]="options"
  (mapClick)="mapClicked()">
  <map-marker
    #markerElem="mapMarker"
    *ngIf="marker && marker.options.icon.url"
    [position]="marker.position"
    [options]="marker.options"
    (mapMouseover)="markerMouseHover()"
    (mapMouseout)="markerMouseOut()"
    (mapClick)="openInfo(markerElem)"
  >
  </map-marker>
  <map-info-window class="map-info-window" [options]="infoWindowOptions">
    <mat-card class="info-window-card-container" *ngIf="marker && marker.place">
      <mat-card-header class="info-window-header-container">
        <div mat-card-avatar class="info-window-header-icon-container" *ngIf="marker.place.icon">
          <img class="info-window-header-icon"
               [src]="marker.place.icon">
        </div>
        <mat-card-title><h2 class="map-info-window-title">{{marker.place.name}}</h2></mat-card-title>
        <!--        <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
      </mat-card-header>
      <ng-image-slider *ngIf="marker.images && marker.images.length" [images]="marker.images" #nav></ng-image-slider>
      <mat-card-content class="map-info-window-content-container">
        <p *ngIf="marker.place.website"><strong>Website: </strong><a
          [attr.href]="marker.place.website" target="_blank">{{marker.place.website}}</a>
        </p>
        <p
          *ngIf="marker.place.international_phone_number || marker.place.formatted_phone_number"><strong>Phone
          Number:</strong> {{marker.place.international_phone_number || marker.place.formatted_phone_number}}</p>
        <p *ngIf="marker.place.rating"><strong>Rating:</strong> {{marker.place.rating}}</p>
        <p *ngIf="marker.place.formatted_address"><strong>Address:</strong> {{marker.place.formatted_address}}</p>
      </mat-card-content>
    </mat-card>
  </map-info-window>
</google-map>
