:host {
  .map-info-window {
    .info-window-card-container {
      .info-window-header-container {
        .info-window-header-icon-container {
          .info-window-header-icon {
            width: 25px;
            height: 25px;
          }
        }

        .map-info-window-title {
          margin: 0;
        }
      }

      .map-info-window-content-container {
        margin-top: 10px;
      }
    }
  }
}
