/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.gm-style-iw-t {
  .gm-style-iw-d {
    min-width: 450px !important;

  }

  button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    top: 0 !important;
    right: 0 !important;

    img {
      width: 25px !important;
      height: 25px !important;
    }
  }

}



